* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-bteween {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.w-2 {
  width: 50%;
}

.w-3 {
  width: 33.33%;
}

.py {
  padding: 80px 0;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
header .logo a {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
header nav ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  padding: 40px 0;
  margin: 0 10px;
}
header nav ul li a:hover {
  color: white;
}
header nav ul .dropdown .dropdown-menu {
  background-color: white;
  padding: 16px 0;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s linear;
}
header nav ul .dropdown .dropdown-menu a {
  padding: 8px 16px;
  color: black;
  white-space: nowrap;
  transition: all 0.3s linear;
}
header nav ul .dropdown .dropdown-menu a:hover {
  color: #1f67f5;
}
header nav ul .dropdown .dropdown-menu .deepdown .deepdown-menu {
  background-color: white;
  padding: 16px 0;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s linear;
  top: 0;
  left: 100%;
}
header nav ul .dropdown .dropdown-menu .deepdown:hover .deepdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
header nav ul .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
header .contact-number a {
  color: white;
  font-size: 15px;
}
header .contact-number a i {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: 1px solid transparent;
  margin-right: 8px;
  transition: all 0.3s linear;
}
header .contact-number a i:hover {
  background-color: transparent;
  border: 1px solid white;
}
header .contact-number .toggle {
  margin-left: 10px;
  display: none;
}
header .contact-number .toggle i {
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.nav-active {
  color: white;
}

.banner {
  background-color: #1f67f5;
  background-blend-mode: darken;
  width: 100%;
  padding: 152px 0;
  position: relative;
  overflow: hidden;
}
.banner::before {
  content: "";
  background-image: url(../images/blob.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -35%;
}
.banner .banner-content {
  z-index: 99;
  position: relative;
}
.banner .banner-content h1 {
  font-size: 42px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.banner .banner-content p {
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0 22px 0;
}
.banner .banner-content a {
  color: white;
}
.banner .banner-content a:first-child {
  font-size: 12px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  border: 1px solid white;
  transition: all 0.3s linear;
  color: #1f67f5;
  margin-right: 20px;
}
.banner .banner-content a:first-child:hover {
  background-color: transparent;
  color: white;
}
.banner .banner-img {
  z-index: 99;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.banner .banner-img img {
  border-radius: 10px;
  transition: all 0.3s linear;
}
.banner .banner-img img:hover {
  transform: scale(1.1);
}

.about .about-img {
  overflow: hidden;
  border-radius: 10px;
}
.about .about-img img {
  border-radius: 10px;
  transition: all 0.3s linear;
}
.about .about-img img:hover {
  transform: scale(1.1);
}
.about .about-content {
  margin-left: 100px;
}
.about .about-content h2 {
  font-weight: 500;
}
.about .about-content p {
  color: #848d92;
  line-height: 25px;
  margin: 10px 0 25px 0;
}
.about .about-content .about-detail i {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 25px;
  color: #1f67f5;
  line-height: 50px;
  border-radius: 5px;
  margin-right: 20px;
}
.about .about-content .about-detail h3 {
  font-weight: 500;
  font-size: 20px;
}

.intro {
  background-color: #1f67f5;
}
.intro .intro-item {
  padding: 10px;
}
.intro .intro-item i {
  font-size: 50px;
  color: white;
}
.intro .intro-item .intro-content {
  margin-left: 20px;
}
.intro .intro-item .intro-content h3 {
  font-weight: 500;
  color: white;
  font-size: 20px;
}
.intro .intro-item .intro-content p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 22px;
  margin-top: 10px;
}

.services {
  background-color: rgba(0, 0, 0, 0.05);
}
.services .services-title {
  margin-bottom: 20px;
}
.services .services-title h2 {
  color: #1f67f5;
  font-size: 30px;
  letter-spacing: 1px;
}
.services .services-title p {
  color: #848d92;
  line-height: 25px;
  width: 50%;
  margin: 10px auto;
}
.services .services-item {
  background-color: white;
  padding: 40px 20px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.services .services-item i {
  color: #1f67f5;
  font-size: 60px;
  position: relative;
}
.services .services-item i::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(108, 117, 125, 0.05);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
}
.services .services-item h3 {
  font-weight: 500;
  margin-top: 20px;
}
.services .services-item p {
  color: #848d92;
  line-height: 22px;
  margin: 15px 0;
}
.services .services-item a {
  padding: 10px 20px;
  border: 1px solid #1f67f5;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.services .services-item a:hover {
  background-color: #1f67f5;
  color: white;
}

.talk-to-us {
  background-image: url("../images/talk.jpg"), linear-gradient(#0155ff, #0155ff);
  background-blend-mode: soft-light;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.talk-to-us .talk-to-us-item .talk-to-us-content h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.talk-to-us .talk-to-us-item .talk-to-us-content p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 22px;
  width: 50%;
  font-weight: 500;
}
.talk-to-us .talk-to-us-item a {
  background-color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.3s linear;
  white-space: nowrap;
}
.talk-to-us .talk-to-us-item a:hover {
  background-color: transparent;
  color: white;
}

.case-study {
  background-color: rgb(248, 249, 250);
}
.case-study .case-study-title {
  margin-bottom: 80px;
}
.case-study .case-study-title h2 {
  color: #1f67f5;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.case-study .case-study-title p {
  color: #848d92;
  line-height: 25px;
  width: 40%;
  margin: 0 auto;
}
.case-study .case-study-item {
  background-color: white;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.case-study .case-study-item .case-study-content {
  padding: 30px;
}
.case-study .case-study-item .case-study-content h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.case-study .case-study-item .case-study-content p {
  color: #848d92;
  line-height: 25px;
}
.case-study .slick-prev:before {
  content: "PREV";
  color: white;
  background-color: #1f67f5;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Work Sans", sans-serif;
}
.case-study .slick-next:before {
  color: white;
  background-color: #1f67f5;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Work Sans", sans-serif;
  content: "NEXT";
}
.case-study .slick-prev {
  top: -48px;
  left: 50%;
  transform: translateX(-428%);
}
.case-study .slick-next {
  top: -48px;
  left: 50%;
  transform: translateX(-428%);
  transform: translateX(-10%);
}
.case-study .slick-dots li button:before {
  font-size: 30px;
}
.case-study .slick-dots {
  bottom: -70px;
}

.testimonials {
  background-color: rgb(248, 249, 250);
}
.testimonials .testimonials-title {
  margin-bottom: 30px;
}
.testimonials .testimonials-title h2 {
  color: #1f67f5;
  font-size: 30px;
  letter-spacing: 1px;
}
.testimonials .testimonials-item {
  background-color: white;
}
.testimonials .testimonials-item .testimonials-content {
  padding: 80px;
}
.testimonials .testimonials-item .testimonials-content p {
  font-style: italic;
  font-family: "Georgia", serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}
.testimonials .testimonials-item .testimonials-content h5 {
  font-size: 15px;
  margin-bottom: 5px;
}
.testimonials .testimonials-item .testimonials-content h6 {
  font-size: 16px;
  color: #848d92;
  font-weight: 500;
}
.testimonials .slick-dots li button:before {
  font-size: 30px;
}
.testimonials .slick-dots {
  bottom: -60px;
}

.news .news-title {
  margin-bottom: 40px;
}
.news .news-title h2 {
  color: #1f67f5;
  font-size: 30px;
  letter-spacing: 1px;
}
.news .news-item {
  border: 1px solid rgba(223, 219, 219, 0.85);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px;
}
.news .news-item .news-img {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.news .news-item .news-img img {
  transition: all 0.3s linear;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.news .news-item .news-img img:hover {
  transform: scale(1.1);
}
.news .news-item .news-content {
  padding: 24px;
}
.news .news-item .news-content h5 {
  color: #848d92;
  font-size: 17px;
  font-weight: 500;
}
.news .news-item .news-content h3 {
  color: #1f67f5;
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0;
}
.news .news-item .news-content p {
  color: #848d92;
  line-height: 22px;
  margin-bottom: 20px;
  font-size: 15px;
}
.news .news-item .news-content a {
  color: #1f67f5;
}

footer {
  background-color: #1f67f5;
}
footer .footer-content {
  margin: 10px;
}
footer .footer-content h5 {
  color: white;
  margin-bottom: 20px;
}
footer .footer-content p {
  color: white;
  font-size: 14px;
}
footer .footer-content p:nth-child(3) {
  margin: 20px 0;
}
footer .footer-content ul {
  margin-bottom: 20px;
}
footer .footer-content ul li a {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  transition: all 0.3s linear;
}
footer .footer-content ul li a:hover {
  color: white;
}
footer .footer-content .footer-icon a {
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #2e73ff;
  color: white;
  font-size: 18px;
  transition: all 0.3s linear;
}
footer .footer-content .footer-icon a:hover {
  background-color: white;
  color: #1f67f5;
}
footer .copiright-link {
  margin-top: 40px;
}
footer .copiright-link p {
  color: white;
  font-size: 14px;
}
footer .copiright-link p a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}
footer .copiright-link p a:hover {
  color: white;
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
}
.back-to-top i {
  padding: 15px;
  color: white;
  background-color: #2e73ff;
  border-radius: 5px;
  transition: all 0.3s linear;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 22px;
}
.back-to-top i:hover {
  background-color: #4a83f5;
}

/*# sourceMappingURL=style.css.map */
